{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ album.cover_image_url }}" alt="{{ album.title }}" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h1 class="headings">{{ album.title }}</h1>
            <p>{{ album.artist }}</p>
            <p class="font-weight-bold">£{{ album.price }}</p>
            <p>{{ album.description }}</p>
            <a href="#" class="btn custom-btn">Add to Basket</a>
        </div>
    </div>
</div>
{% endblock %}