{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Thank you for your order</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <h5>Order Info</h5>
            <p>Order Number: {{ order.order_number }}</p>
            <p>Order Date: {{ order.date }}</p>
        </div>

        <div class="col-12 col-lg-6">
            <h5>Delivery Info</h5>
            <p>{{ order.full_name }}</p>
            <p>{{ order.street_address1 }}</p>
            {% if order.street_address2 %}<p>{{ order.street_address2 }}</p>{% endif %}
            <p>{{ order.town_or_city }}</p>
            {% if order.county %}<p>{{ order.county }}</p>{% endif %}
            {% if order.postcode %}<p>{{ order.postcode }}</p>{% endif %}
            <p>{{ order.country }}</p>
            <p>{{ order.phone_number }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Order Total</h5>
            <p>Order Total: £{{ order.order_total }}</p>
            <p>Delivery: £{{ order.delivery_cost }}</p>
            <p><strong>Grand Total: £{{ order.grand_total }}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{% url 'albums' %}" class="btn custom-btn mt-3">Continue Shopping</a>
        </div>
    </div>
</div>
{% endblock %}