/* ============ Site Wide Styles ============ */


/* CSS Variables */
:root {
    /* Typography */


    /* Core colours */
    --colour-dark: black;
    --colour-light: white;

    /* Accent colours */
    --primary-accent: rgb(255, 85, 0);
    --secondary-accent: yellow;
}

/* Global Styles */
body {
    color: var(--primary-accent);
}

/* Navbar */
.sale-banner {
    background-color: var(--primary-accent);
}

