{% extends "base.html" %}

{% load static %}

{% block content %}
<div>
    <h2>Latest Releases</h2>
        <div class="row">
            {% for album in latest_releases %}
            <div class="col-6 col-md-3 mb-4">
                <img src="{{ album.cover_image_url }}" alt="{{ album.title }}" class="img-fluid">
                <p class="mb-0">{{ album.title }}</p>
                <p class="text-muted">{{ album.artist.name }}</p>
            </div>
            {% endfor %}
        </div>

    <h2 class="display-6">Featured Album</h2>
    <p>Album cover, description and link for featured album</p>

    <h2 class="display-6">Sale</h2>
    <p>Table of four albums on sale</p>
</div>
    

{% endblock %}