{% extends "base.html" %}

{% block title %}About | Vinyl Vault{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- Header -->
    <div class="text-center mb-5">
        <h2 class="headings">About</h2>
        <p class="lead">Insert about here.</p>
    </div>

    <!-- Accordion -->
    <div class="text-center mb-5">
        <h2 class="headings">Frequently Asked Questions</h2>
        <p class="lead">Everything you need to know about Vinyl Vault.</p>
    </div>

</div>
{% endblock %}