{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/9e82e4ab0b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    <title>{% block title %}Vinyl Vault{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid sticky-top">

        <!-- Top section = Logo, search bar + mobile burger toggle, account/bag (desktop only) -->
        <div class="row header-dark pt-lg-2">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link"><h2 class="text-white mb-0">Vinyl Vault</h2></a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-flex align-items-center">
                <form method="GET" action="{% url 'albums:album_search' %}" class="d-flex align-items-center border border-white bg-transparent flex-grow-1">
                    <button class="btn btn-link text-white px-2" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <input class="form-control form-control-sm border-0 bg-transparent text-white shadow-none" type="text" name="q" placeholder="Find your next record... ">
                </form>
                <!-- Burger toggle = mobile only, sits next to search -->
                <button class="navbar-toggler text-white d-lg-none ml-2" type="button" data-toggle="collapse"
                    data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Account/cart icons = desktop only, hidden on mobile since they move into the burger menu -->
            <div class="col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <ul class="list-inline list-unstyled text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                    <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="text-center">
                            <div><i class="far fa-user-circle fa-lg navbar-icon"></i></div>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Store Management</a>
                        {% endif %}
                        <a href="" class="dropdown-item">My Account</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-white nav-link" href="{% url 'bag:view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-cart fa-lg navbar-icon"></i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Middle section = main navigation options -->
        <div class="row nav-row">
            <nav class="navbar navbar-expand-lg w-100">
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" href="{% url 'albums:browse_albums' %}">Browse</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" href="{% url 'albums:new_releases' %}">New Releases</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" href="{% url 'albums:sale_albums' %}">Sale</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" href="#">Contact</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" href="{% url 'about' %}">About</a>
                </li>

                <!-- Account/basket links: mobile only, appear inside burger menu -->
                <li class="nav-item mx-3 d-lg-none border-top pt-2 mt-2">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link font-weight-bold" href="">My Account</a>
                    {% else %}
                    <a class="nav-link font-weight-bold" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item mx-3 d-lg-none">
                    <a class="nav-link font-weight-bold" href="{% url 'account_signup' %}">Register</a>
                </li>
                {% else %}
                <li class="nav-item mx-3 d-lg-none">
                    <a class="nav-link font-weight-bold" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% endif %}
                <li class="nav-item mx-3 d-lg-none">
                    <a class="nav-link font-weight-bold" href="">Bag</a>
                </li>

                </ul>
            </div>
            </nav>
        </div>

        <!-- Bottom section = sales banner -->
        <div class="row text-center">
            <div class="col text-white sale-banner overflow-hidden">
                <div class="ticker-wrapper">
                    <span class="ticker-text">Sale discount offer here &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sale discount offer here &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sale discount offer here</span>
                </div>
            </div>
        </div>
    </header>


    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block postloadjs %}
    {% endblock %}
    
    <footer class="mt-auto py-4 header-dark footer-top-border">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <!-- Footer Links -->
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="footer-text footer-link-spacing">Logout</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="footer-text footer-link-spacing">Login</a>
                    {% endif %}
                    <a href="" class="footer-text footer-link-spacing">Contact</a>
                    <a href="" class="footer-text">About</a>
                </div>
                <!-- Social Media Icons -->
                <div class="d-flex mt-4 mt-md-0">
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="X" class="footer-icon footer-icon-spacing"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="footer-icon footer-icon-spacing"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer" aria-label="TikTok" class="footer-icon"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
            <!-- Copyright -->
            <div class="mt-4 small text-center text-white-50">© 2026 Vinyl Vault</div>
        </div>
    </footer>

  </body>
</html>